<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NYC Collision Dashboard</title>
  <link rel="icon" type="image/x-icon" href="https://img.icons8.com/ios/64/sedan.png">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  <!-- Bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron.fluid text-center", style="font-family:Comic Sans MS;">
        <h1 style="font: size 240px;">NYC Collision Dashboard</h1>
        <p style="color: rgb(0, 100, 139)">Use the interactive charts below to explore the dataset</p>
      </div>
    </div>
    <!--Tab links-->
    <div class="tab">
      <button class="tablinks active" onclick="openChart(event, 'map')">Chart 1</button>
      <button class="tablinks" onclick="openChart(event, 'bar')">Chart 2</button>
      <button class="tablinks" onclick="openChart(event, 'scatter')">Chart 3</button>
    </div>

    <!-- Tab content -->
    <div id="map" style="height: 600px; position: relative; display: block;" class="tabcontent"></div>

    <div id="bar" style="height: 600px" class="tabcontent">bar</div>
    <div id="scatter" style="height: 600px" class="tabcontent">scatter</div>
      
  </div>
  <!-- Plotly-->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <!-- D3 JavaScript -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/logic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.js"></script>
  <script>
    function openChart(event, chartName) {
    var tabcontent = document.getElementsByClassName("tabcontent");
    for (var i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    var tablinks = document.getElementsByClassName("tablinks");
    for (var i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "")
    }

    document.getElementById(chartName).style.display = "block";
    event.currentTarget.className += " active";
}
  </script>

</body>

</html>
